.more {
  overflow: hidden;

  &__header {
    text-align: center;
    margin-bottom: 38px;
    line-height: 110%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 50px;
  }

  &__item-photo {
    position: relative;
    overflow: hidden;
    margin-bottom: 26px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: #d12d35;
      opacity: 0.5;
      transform: skewX(-25deg);
    }

    &:hover::before {
      animation: shine 0.75s;
    }
  }

  &__item-content {
    text-align: center;
  }

  &__item-title {
    margin-bottom: 8px;
    color: $main-accent;
  }

  &__item-text {
    line-height: 160%;
  }

  @include tablet {
    &__header {
      margin-bottom: 48px;
    }

    &__item {
      max-width: 392px;
      margin: 0 auto;
      flex: 1;
    }

    &__item-photo {
      margin-bottom: 32px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__item:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include desktop {
    &__content {
      flex-direction: row;
    }

    &__title {
      margin: 0 auto;
      width: 450px;
      line-height: 105%;
    }

    &__item-photo {
      margin-bottom: 35px;
    }

    &__item-text {
      line-height: 165%;
    }

    &__item:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}
