$main-accent: #d12d35;
$main-accent-dark: #ae1c23;
$main-accent-light: #eb343d;

$dark: #161616;
$white: #ffffff;

$text: #7e7e83;
$bg: #f8f8fa;
$border: #d5d7de;

$mobile-width: 320px;
$tablet-width: 744px;
$desktop-width: 1260px;
